<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit</title>
</head>
<body>
<form th:method="POST" th:action="@{/admin/{id}(id=${user.getId()})}" th:object="${user}">
    <label for="name">Enter name: </label>
    <input type="text" th:field="*{name}" id="name">
    <br>
    <label for="name">Enter last name: </label>
    <input type="text" th:field="*{lastName}" id="lastName">
    <br>
    <br>
    <label for="username">Enter username: </label>
    <input type="text" th:field="*{username}" id="username">
    <br>
    <br>
    <label for="password">Enter password: </label>
    <input type="text" th:field="*{password}" id="password">
    <br>
    <label for="name">Enter email: </label>
    <input type="text" th:field="*{email}" id="email">
    <br>
    <select name="role1" id="Role 1">
        <option value="0"></option>
        <option value="1">ROLE_USER</option>
        <option value="2">ROLE_ADMIN</option>
    </select>
    <label for="Role 2"> Role 1: </label>
    <select name="role1" id="Role 2">
        <option value="0"></option>
        <option value="1">ROLE_USER</option>
        <option value="2">ROLE_ADMIN</option>
    </select>
    <br>
    <br>
    <input type="submit" value="update"/>
</form>


</body>
<div th:insert="~{exit :: exit_button}"></div>
</html>