<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Spring Security Example</title>
</head>
<body>
<h1>User, welcome spring boot security page!</h1>
<div>
    <table border="1">
        <tr>
            <th>Name</th>
            <th>Last name</th>
            <th>Email</th>
            <th>Actions</th>
        </tr>
        <tr th:each="user : ${users}">
            <th th:text="${user.getName()}"></th>
            <th th:text="${user.getLastName()}"></th>
            <th th:text="${user.getEmail()}"></th>

            <td>
                <a th:href="@{/admin/{id}/edit(id=${user.getId()})}">Edit</a>
                <a th:href="@{/admin/{id}/delete(id=${user.getId()})}">Delete</a>
            </td>

        </tr>
    </table>
    </br>
    </br>
    </hr>
    <a th:href="@{/admin/new/}">Create new user</a>

</div>
<div th:insert="~{exit :: exit_button}"></div>
</body>
</html>